<template>
  <div class="echo">
    <div class="banner">🚀 Echo - CTF Project</div>
    <Counter />
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import Counter from '../components/example/counter.vue'

export default defineComponent({
  name: 'echo-example',
  components: {
    Counter
  },
  setup() {
    return {}
  }
})
</script>

<style lang="scss">
@use 'sass:math';
.echo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #ecf0f1;
  .banner {
    padding-top: 2em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
}
</style>
