<template>
  <div class="exampleCounter">
    <div class="num">
      <span>{{ count }}</span>
    </div>
    <div class="btnGroup">
      <n-button type="primary" @click="reCount(3)">经验 +3</n-button>
    </div>
  </div>
</template>

<script>
import { defineComponent, inject } from 'vue'
import { NButton } from 'naive-ui'
import { coreStateKey } from '../../store'

export default defineComponent({
  name: 'example-counter',
  components: {
    NButton
  },
  setup() {
    const {
      example: {
        state: { count },
        mutations: { reCount }
      }
    } = inject(coreStateKey)
    return { count, reCount }
  }
})
</script>

<style lang="scss">
.exampleCounter {
  margin-top: 2em;
  text-align: center;
  .num {
    font-size: 3em;
    font-weight: bold;
  }
}
</style>
