@import './palette.scss';
@import './mixin.scss';

html,
body {
  @include no-mp();
  min-height: 100px;
  width: 100vw;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
}
