<template>
  <router-view></router-view>
</template>

<script>
import { defineComponent, provide } from 'vue'
import { coreState, coreStateKey } from './store'

export default defineComponent({
  setup() {
    provide(coreStateKey, coreState)
    return {}
  }
})
</script>
