<template>
  <div class="indexLayout"></div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'index-layout',
  setup() {
    return {}
  }
})
</script>

<style lang="scss"></style>
